<h1 class="page-title">使い方ガイド</h1>

<div class="guide-terms-container">
  <section id="section1" class="section">    
    <h2>サイト紹介</h2>
      <p>この度はテキストフリマサイトを利用していただきありがとうございます。このサイトは手数料無料のテキスト専用フリーマーケットサイトとなっています。利用の大まかな流れとしては使わなくなったテキストを出品し購入されたら購入者とサイト内のチャットで受取の時間・場所を相談して決めて直接テキストと代金のやり取りをしていただくという流れとなっています（購入者も同様の流れです）。同じ教科書を使用するということは出品者も購入者も同じ大学の生徒の方でしょう。ですから大学のキャンパス内で取引をすることがお互い一番わかりやすいと思うので基本的にはキャンパス内での受取を推奨します。詳しくは以下の目次からより詳細にご覧ください。
      </p>
  </section>
    <nav id="chapter" class="section">
      <h2>目次</h2>
      <ul>
        <li><a href="#section2">出品方法</a></li>
        <li><a href="#section3">修正方法</a></li>
        <li><a href="#section4">購入・キャンセルの方法</a></li>
        <li><a href="#section5">購入者・出品者とのやり取り</a></li>
        <li><a href="#section6">取引が完了したら</a></li>
      </ul>
    </nav>

    <section id="section2" class="section">
        <h2>出品方法</h2>
        <p>まず、出品ボタンから出品のページに行きます。そして商品の画像を一枚テキストのタイトル、著者名、テキストの説明、価格を入力し「出品する」のボタンで出品が完了します。なるべくすべての欄に記入し、説明の欄でテキストに書き込みがるのかどうか、汚れがないか、破けていないかなどテキストの状態をできるだけ詳しく記入しておくとより親切です。購入者も安心して購入することができます。</p>
    </section>

    <section id="section3" class="section">
        <h2>修正・削除の方法</h2>
        <p>パソコンの方は自分の出品（スマホの方は出品一覧）から自分が出品した商品の一覧ページに行きます。修正したい場合は一覧ページから出品内容を修正したい商品の「この出品を編集」ボタンから修正ページにいき出品内容を編集し「この内容で修正する」ボタンで修正を確定させます。削除する場合は削除したい商品の「この出品を削除」ボタンを押し削除します。ただし購入者がいる商品の編集削除はできないので注意してください。</p>
    </section>

    <section id="section4" class="section">
        <h2>購入・キャンセルの方法</h2>
        <p>検索フォームで探しているテキストのタイトルもしくは著者名で検索し、購入したい商品の詳細ページに移動します。詳細ページの購入ボタンから購入を確定してください。また購入をキャンセルしたい場合はキャンセルボタンでキャンセルしてください。</p>
    </section>

    <section id="section5" class="section">
        <h2>購入者・出品者とのやり取り</h2>
        <p>購入者の場合：パソコンの方は「購入した商品」、スマホの方は「購入一覧」ボタンから自分が購入した商品の一覧ページに移動します。<br>
        出品者の場合：パソコンの方は「自分の出品」、スマホの方は「出品一覧」ボンタンから自分が出品した商品の一覧ページに移動します。<br>
        （以下は購入者も出品者も同じ流れです。）次に購入した商品一覧からチャットでやり取りしたい商品の詳細ページに移動します。詳細ページのチャット欄で日時・場所を相談してください。円滑なやり取りができるようになるべく早く返信しましょう。取引の場所は自由ですが、使用しているテキストが同じということは同じ大学の生徒さんだと思うので大学のキャンパス内を受け取り場所にするのがおすすめです。図書館前、食堂前などなるべくわかりやすい場所だとよりスムーズに合流することができるでしょう。</p>
    </section>

    <section id="section6" class="section">
        <h2>取引が完了したら</h2>
        <p>受取の日時に指定の場所で、合流することができ無事に商品の受け取り代金の受け取りが完了したら、サイトの商品詳細ページの「取引を完了させる」ボタンで取引完了を確定させます。するとその商品は緑色の「COMPLETE」ラベルが貼られ取引が完了した商品となります。</p>
    </section>
</div>