<h1 class="page-title">利用のお願い</h1>

<div class="guide-terms-container">
  <p>本サイトでは出品者、購入者間でのトラブルは一切責任を負いかねます。トラブルが起きた場合はすべて利用者の自己責任で対処をお願いします。利用者の皆さんのモラルとマナーでサイトの利用をより良いものにしてください。宜しくお願い致します。</p>
</div>
